nav {
  background-color: #69e9ee;
  color: #fff;
  padding: 20px;
  text-align: right;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
nav a:hover {
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
input[type="search"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.link2{

      text-decoration: none;
      background-image: linear-gradient(rgb(248, 64, 64), rgb(224, 232, 255));
      padding: 5px 20px;
      color: rgb(0, 0, 0);
      font-weight: 900;
      
      border-radius: 7px;
      border: 2px solid black;


}
.mid{
text-align: center;
padding-bottom: 30px;
width: 700px;
margin: 0 auto;
padding: 20px;
background-color: lightblue;

border: 1px solid #000000;
border-radius: 5px;
padding-top: 20px;

}
.container{
padding-top: 10px;
padding-bottom: 10px;
}
.search{
text-align: center;
margin-top: 50px;
width: 400px;
margin: 0 auto;
padding: 20px;
background-color: lightblue;

border: 1px solid #000000;
border-radius: 5px;
padding-top: 20px;

}
#dataBody td,th {
  text-align: center;
  vertical-align: middle;

  background-color: rgb(224, 247, 255);

  border: 1px solid #000000;
  border-radius: 5px;


}
body{
background-image: url(https://img.freepik.com/free-photo/book-with-green-board-background_1150-3837.jpg?w=1060&t=st=1685291275~exp=1685291875~hmac=35d90f5a696d0d7055ac15a4f7487fcb96c44b9e6e7bf2050903c8234e4698ba);
background-repeat: no-repeat;
background-size: cover;  

}
