
  .container1 {
    width: 400px;
    margin: 0 auto;
  }
  .center {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="date"],
  input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  .cs{
width: 100px;
    padding-left: 30%;

  }

  .studentTable{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;

  
  }
  .edit-button,
  .delete-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .delete-button {
    background-color: #f44336;
  }
